<html lang="en">

<head>
  <style>
    body {
      font-family: Arial, Helvetica, sans-serif
    }
  </style>
</head>

<body>
  <strong>Olá {{ purchase.buyer.name }}</strong>
  <p>Sua compra foi aprovada: {{ ad.product.title }}</p>
  <br>
  <strong>Enviado por: {{ ad.author.name }} ({{ ad.author.email }})</strong>
  <p>Mensagem: sua compra do {{ purchase.product.title }} foi concluída com sucesso!</p>

</body>

</html>
